[user]
	name = Nyctef
    email = nyctef@nyctef.com

[alias]
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%h%C(reset) - %C(bold green)(%ar)%C(reset) %s%C(reset) %C(bold green)- %an%C(reset)%C(bold yellow)%d%C(reset)'
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(blue)%s%C(reset) %C(bold blue)- %an%C(reset)'
  lg = !git lg1
  st = status --untracked-files=all
  ci = commit --verbose
  cia = commit --verbose -a
  cip = commit --verbose -p
  di = diff --word-diff
  dc = diff --cached --word-diff
  amend = commit --amend
  fa = fetch --all
  fap = fetch --all --prune
  fomm = fetch origin master:master
  dt = difftool --dir-diff
  dlast = diff HEAD^ HEAD --word-diff
  out = !git fetch && git lg FETCH_HEAD..
  outgoing = !git fetch && git lg FETCH_HEAD..
  in = !git fetch && git lg ..FETCH_HEAD
  incoming = !git fetch && git lg ..FETCH_HEAD
  outin = !git fetch && echo 'out:' && git lg FETCH_HEAD.. && echo 'in:' && git lg ..FETCH_HEAD
  aa = add -A
  addw = !git diff -b | git apply --ignore-whitespace --cached
  co = checkout
  cob = checkout -b
  p = pull --ff-only
  puom = !git push -u origin `git rev-parse --abbrev-ref HEAD`
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  purge = clean -d -x -f
  ama = !git amend -a --no-edit
  rhard = reset --hard
  prebase = pull --rebase
  oneline = log --pretty=oneline --abbrev-commit
# delete-old-branches = !git branch -D `git branch --merged | grep -v '\*\|master' `
  ignore-changes-to = update-index --assume-unchanged
  branch-status = for-each-ref --format='%(refname:short) %(color:bold green)%(push:track)' refs/heads
  brst = !git branch-status
  unmerged-files = !git st --porcelain | grep UU | cut -c 4-

[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[push]
	default = simple
[core]
	editor = gvim
	whitespace = cr-at-eol
