.aws/credentials
.AndroidStudio*
.Rider10
.v8flags*
.yjp
.oracle_jre_usage
.vs
.thumbnails
.atom/compile-cache
.bash_history
.cache/
.gradle/
.idlerc/
.irssi/config
.nuget/
AppData/
Contacts/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
NTUSER*
ntuser*
OneDrive/
Pictures/
Saved Games/
Searches/
Tracing/
Videos/
id_rsa
id_dsa
known_hosts
.viminfo
_viminfo
*_temp
irclogs/
.lesshst
.rediscli_history
.npm/
git/
.vim/
tmp/
.dnx
*.swp
.config
.android
_vimrc
cache
.node-gyp
.VirtualBox
.babel.json
.node_repl_history
.octave_hist
.vagrant.d
.adalcache
.devaccounts
.extaccounts
