[user]
  name = Nyctef
  email = nyctef@nyctef.com

[alias]
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%h%C(reset) - %C(bold green)(%ar)%C(reset) %s%C(reset) %C(bold green)- %an%C(reset)%C(bold yellow)%d%C(reset)'
  lg1 = !git lg -1
  lga = !git lg --all
  st = status --untracked-files=all
  ci = commit --verbose
  cia = commit --verbose -a
  cip = commit --verbose -p
  di = diff --color-words
  dc = diff --cached --color-words
  amend = commit --amend
  fa = fetch --all
  fap = fetch --all --prune
  fomm = fetch origin master:master
  fo = !git fetch origin $*:$*
  fast = !git fa && git st
  dt = difftool --dir-diff
  dlast = diff HEAD^ HEAD --color-words
  out = !git fetch && git lg FETCH_HEAD..
  outgoing = !git fetch && git lg FETCH_HEAD..
  in = !git fetch && git lg ..FETCH_HEAD
  incoming = !git fetch && git lg ..FETCH_HEAD
  outin = !git fetch && echo 'out:' && git lg FETCH_HEAD.. && echo 'in:' && git lg ..FETCH_HEAD
  aa = add -A
  addw = !bash -c 'git diff -b | git apply --ignore-whitespace --cached'
  co = checkout
  cob = checkout -b
  p = pull --ff-only
  puom = !git push -u origin `git rev-parse --abbrev-ref HEAD`
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  purge = clean -d -x -f
  ama = !git amend -a --no-edit
  rhard = reset --hard
  prebase = pull --rebase
  oneline = log --pretty=oneline --abbrev-commit
# delete-old-branches = !git branch -D `git branch --merged | grep -v '\*\|master' `
  ignore-changes-to = update-index --assume-unchanged
  branch-status = for-each-ref --format='%(refname:short) %(color:bold green)%(push:track)' refs/heads
  delete-gone-branches = !git branch-status | grep gone | cut -f 1 -d ' ' | xargs git branch -D
  brst = !git branch-status
  unmerged-files = !git st --porcelain | grep UU | cut -c 4-
  unstage = reset HEAD
  fix-master = update-ref refs/heads/master origin/master HEAD
  ch = cherry-pick
  rcon = rebase --continue
  force-push = push --force-with-lease
  rhu = reset --hard @{upstream}
  mt = mergetool
  delete-branch = !"f() { git branch -D $@; git push origin --delete $@; }; f"

[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
[push]
  default = simple
[core]
  editor = gvim
  whitespace = cr-at-eol
  autocrlf = false
